body {
                margin: auto;
                padding: 20px;
                font-family: -apple-system, 'Poppins', BlinkMacSystemFont, sans-serif;
                overflow: auto;
                background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
                animation: gradient 15s ease infinite;
                background-size: 400% 400%;
                background-attachment: fixed;
}

@keyframes gradient {
                0% {
                                background-position: 0% 0%;
                }
                50% {
                                background-position: 100% 100%;
                }
                100% {
                                background-position: 0% 0%;
                }
}

.wave {
                background: rgb(255 255 255 / 25%);
                border-radius: 1000% 1000% 0 0;
                position: fixed;
                width: 200%;
                height: 12em;
                animation: wave 10s -3s linear infinite;
                transform: translate3d(0, 0, 0);
                opacity: 0.8;
                bottom: 0;
                left: 0;
                z-index: -1;
}

.wave:nth-of-type(2) {
                bottom: -1.25em;
                animation: wave 18s linear reverse infinite;
                opacity: 0.8;
}

.wave:nth-of-type(3) {
                bottom: -2.5em;
                animation: wave 20s -1s reverse infinite;
                opacity: 0.9;
}

@keyframes wave {
                2% {
                                transform: translateX(1);
                }

                25% {
                                transform: translateX(-25%);
                }

                50% {
                                transform: translateX(-50%);
                }

                75% {
                                transform: translateX(-25%);
                }

                100% {
                                transform: translateX(1);
                }
}

.container {
           color: blue;
           background:;
                 border-radius: 10px;
                 padding: 20px;
           box-shadow: 0 0 .2rem #fff,0 0 .2rem blue;, 0 0 2rem blue;,
            0 0 0.8rem #1F51FF,
            0 0 2.8rem blue;,
            inset 0 0 1.3rem blue;
                 margin-top: 20px;
                 margin-bottom: 20px;
         outline: 2px solid blue;
}
 h1 {
                 color: blue;
                 font-size: 24px;
                 margin-bottom: 15px;
}
 label {
                 background-color:;
           color: deepskyblue;
                 border-radius: 10px;
                 font-weight: bold;
                 margin-bottom: 5px;
           background-image:;
}
 .centered-textarea {
                 color: ;
                 display: flex;
                 margin: 0 auto;
                 width: 100%;
                 min-height: 150px;
                 padding: 10px;
                 box-sizing: border-box;
                 border: 1px limee;
                 border-radius: 5px;
                 resize: none;
}
 .btn-primary {
                 background-color: steelblue;
                 border: 1px solid: #a4fc81;
                 background-border color: #00;
}
 .btn-primary:hover {
                 background-color: skyblue;
                 border: 1px solid #a4fc81;
}
 .success-message {
                 color: seagreen;
                 margin-top: 10px;
}
 .footer {
                 background-color:black; 46%,  #ff8c00 100%;
                 padding: 15px;
                 text-align: center;
                 font-size: 20px;
                 color:;
                 margin-top: 50px;
                 border-top: 1px solid green;
                 position: fixed;
                 bottom: 0;
                 left: 0;
                 width: 100%;
}
 .footer p {
                 margin: 0;
                 display: inline-block;
                 margin-right: 30px;
}
 .container-buttons {
                 margin-top: 20px;
                 text-align: center;
}
 .container-buttons .btn {
                 margin: 5px;
}

 #result {
                 padding: 10px;
                 margin-top: 20px;
                 border-radius: 5px;
}
 .center-placeholder::placeholder {
                 text-align: center;
}

.form-check {
        display: flex;
        margin-top: 10px;
        padding: 14px;
        align-items: center;
        border: 1px solid #a4fc81;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease; 
        border-color: #a4fc81;
        background-color: steelblue;
}

.form-check:hover {
        background-color: skyblue; 
        border-color: #a4fc81; 
}

.form-check-input {
        margin-right: 10px; 
        opacity: 0;
}

.disable {
        display: none;
}

 #inputOfPrefix, #inputOfAdmin { 
        padding: 13px;
        width: 200px;
        border: 1px blue;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease; 
        border-color: #a4fc81;
        background-color: steelblue;

}

#json-data {
    background-image: url('https://ibb.co/KmrPQnP');

    background-size: cover;
    background-repeat: no-repeat;
    border-color: blue;
}

}
, #listOfCommands, #listOfCommandsEvent, #prefixOfCommands,          #adminOfCommands {
  border: none !important!

}

div {
        margin-bottom: 10px;
        border-radius: 5px;

}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.fbsbx.com/v/t59.2708-21/364275131_194699153362307_6962021199565636284_n.gif?_nc_cat=104&ccb=1-7&_nc_sid=cf94fc&_nc_eui2=AeEh8Tbm519HXN-mjfODIBvvCq_v3IkLfKQKr-_ciQt8pJkMlYz_QZtCbC1JQLGkdNBdEtP4x8DsJknZ9nPEErwq&_nc_ohc=4tkqh4ee01YQ7kNvgFoGsCz&_nc_ht=cdn.fbsbx.com&oh=03_Q7cD1QHUfv2Fyr96elXaMSd6VSdxvFOo3h2s2g_YcWgTWVc2CQ&oe=66C23811'); 
    background-size: cover;
    background-repeat:;
    background-attachment:;
    background-color :
    color:;
    padding: 24px;

      }
    .rainbow-text {
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            -webkit-background-clip: text;
            color: transparent;
        }

        /* CSS Animation để tạo hiệu ứng chữ màu động */
        @keyframes rainbow {
            0% {
                color: violet;
            }
            14% {
                color: indigo;
            }
            28% {
                color: blue;
            }
            42% {
                color: green;
            }
            50% {
                color: pink;
            }
            56% {
                color: yellow;
            }
            60% {
                color: lime;
            }
            70% {
                color: orange;
            }
            84% {
                color: red;
            }
            100% {
                color: violet;
            }
        }

        /* Áp dụng Animation cho chữ */
        .animated-rainbow {
            animation: rainbow 4s linear infinite;
        }
        .footer {
      text-align: center;
      background-color;
      color: deepskyblue;
      padding: 1px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 11px;
        }
          .container {
          text-align: center;
          z-index: 1;
          border-radius: 10px;
          padding: 18px;
          border: var(--onyx);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          max-width: 400px;
          margin-top: 30px;
          width: 100%;
          background-color:;
          }
    .container {
            background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            -webkit-background-clip: text;
            color: transparent;
        }

        /* CSS Animation để tạo hiệu ứng chữ màu động */
        @keyframes rainbow {
            0% {
                color: violet;
            }
            14% {
                color: indigo;
            }
            28% {
                color: blue;
            }
            42% {
                color: green;
            }
            50% {
                color: pink;
            }
            56% {
                color: yellow;
            }
            60% {
                color: lime;
            }
            70% {
                color: orange;
            }
            84% {
                color: red;
            }
            100% {
                color: violet;
            }
        }

        /* Áp dụng Animation cho chữ */
        .container {
            animation: rainbow 4s linear infinite;
        }
        .footer {
      text-align: center;
      background-color;
      color: deepskyblue;
      padding: 1px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 11px;
        }
          .container {
          text-align: center;
          z-index: 1;
          border-radius: 10px;
          padding: 18px;
          border: var(--onyx);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          max-width: 400px;
          margin-top: 30px;
          width: 100%;
          background-color:;
          }